# note: we do not run prod service with docker-compose, we use it just for
# configuring the production build
services:
  # base service, exists to hold common config, but is not actually used directly
  base:
    build:
      context: ..
      # path relative to context
      dockerfile: docker/Dockerfile
      # the production stage in the Dockerfile
      target: sqlrunner-prod # CHANGE ME!
      args:
        # this makes the image work for later cache_from: usage
        - BUILDKIT_INLINE_CACHE=1
        # dynamic env vars supplied by just
        - BUILD_DATE
        - GITREF
        # env vars from .env
        - UBUNTU_VERSION
        - UV_VERSION
    # use dockers builitin PID daemon
    init: true

  # prod service. Used to build prod image and run/test it locally
  prod:
    # image name, both locally and public
    image: sqlrunner
    extends:
      service: base

  # development service. Used to build dev image.
  dev:
    extends:
      service: base
    image: sqlrunner-dev
