---
name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
          install-uv: true
          cache: uv
      - name: Check formatting, sorting, and linting
        run: just check

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: "opensafely-core/setup-action@v1"
        with:
          install-just: true
          install-uv: true
          cache: uv
      - name: Run tests
        run: just test
